.mask_accordions .content {
  grid-column-end:span 4;
  grid-column-start:6;
}
.mask_accordions .content .title {
  margin-bottom:3rem;
}
.mask_accordions .content .title:last-child {
  margin-bottom:9rem;
}
.mask_accordions .content .text {
  margin-bottom:12rem;
  transform:translate(9rem);
}
.mask_accordions .accordion-wrapper {
  grid-column-end:span 12;
  grid-column-start:2;
}
.mask_accordions .accordion {
  margin-bottom:-2px;
  overflow:hidden;
}
.mask_accordions .accordion-header {
  border-top:2px solid #e4e0db;
  cursor:pointer;
  display:flex;
  grid-column-end:span 12;
  grid-column-start:1;
  justify-content:space-between;
  justify-self:flex-end;
  max-width:66.66%;
  padding-bottom:3rem;
  padding-top:3rem;
  width:100%;
}
.mask_accordions .accordion-header h4 {
  transform:translate(9rem);
  transition:all .5s;
}
.mask_accordions .accordion-header:hover h4 {
  transform:translate(7.5rem);
}
.mask_accordions .accordion-side {
  display:flex;
}
.mask_accordions .accordion-icon {
  height:2rem;
  margin-left:12rem;
  margin-right:.5rem;
  width:2rem;
}
.mask_accordions .accordion-body {
  grid-column-end:span 8;
  grid-column-start:5;
  height:0;
  justify-self:flex-end;
  overflow:hidden;
  width:100%;
}
.mask_accordions .accordion-content {
  display:grid;
  padding-bottom:12rem;
  grid-column-gap:var(--grid-gap);
  grid-template-columns:repeat(8,1fr);
}
.mask_accordions .accordion-text {
  grid-column-end:span 6;
  grid-column-start:1;
  transform:translate(9rem);
}
.mask_accordions .accordion-text ul {
  margin-top:0;
}
.mask_accordions .accordion-text h4 {
  margin-bottom:1.5rem;
}
.mask_accordions .accordion-text p {
  margin-bottom:2rem;
  min-height:4.5rem;
}
.mask_accordions .accordion-text :where(ul)+p {
  margin-top:0;
}
.mask_accordions a.ht-biglink {
  grid-column-end:span 6;
  grid-column-start:1;
  justify-self:flex-end;
  margin-top:12rem;
}
.mask_accordions .accordion-bottom-hr {
  border-bottom:2px solid #e4e0db;
  grid-column-end:span 12;
  grid-column-start:1;
  justify-self:flex-end;
  max-width:66.66%;
  width:100%;
}
.mask_accordions .accordion.open h4 {
  transform:translate(14.5rem);
}
.mask_accordions .accordion.open:hover h4 {
  transform:translate(12.5rem);
}
@media (max-width:1023px) {
  .mask_accordions .content {
    grid-column-end:span 9;
    grid-column-start:4;
  }
  .mask_accordions .content .title {
    margin-bottom:1.5rem;
  }
  .mask_accordions .content .text,.mask_accordions .content .title:last-child {
    margin-bottom:4rem;
  }
  .mask_accordions .content .text {
    transform:translate(5.8rem);
  }
  .mask_accordions .accordion {
    overflow:hidden;
  }
  .mask_accordions .accordion-header {
    align-items:center;
    flex-wrap:wrap;
    max-width:83.33%;
    padding-bottom:2rem;
    padding-top:2rem;
  }
  .mask_accordions .accordion-header .h4 {
    margin-top:.5rem;
    width:100%;
  }
  .mask_accordions .accordion-header h4,.mask_accordions .accordion-header:hover h4 {
    transform:translate(0);
  }
  .mask_accordions .accordion-icon {
    height:1.2rem;
    margin-left:1rem;
    margin-right:0;
    width:1.2rem;
  }
  .mask_accordions .accordion-body {
    grid-column-end:span 12;
    grid-column-start:1;
  }
  .mask_accordions .accordion-content {
    display:grid;
    padding-bottom:4.5rem;
    grid-column-gap:var(--grid-gap);
    grid-template-columns:repeat(12,1fr);
  }
  .mask_accordions .accordion-text {
    grid-column-end:span 9;
    grid-column-start:3;
    transform:translate(0);
  }
  .mask_accordions .accordion-text ul {
    margin-top:0;
  }
  .mask_accordions .accordion-text h4 {
    margin-bottom:1.5rem;
  }
  .mask_accordions .accordion-text p {
    margin-bottom:2rem;
    min-height:4.5rem;
  }
  .mask_accordions .accordion-text :where(ul)+p {
    margin-top:0;
  }
  .mask_accordions a.ht-biglink {
    grid-column-end:span 6;
    grid-column-start:1;
    justify-self:flex-end;
    margin-top:12rem;
  }
  .mask_accordions .accordion-bottom-hr {
    max-width:83.33%;
  }
  .mask_accordions .accordion.open h4,.mask_accordions .accordion.open:hover h4 {
    transform:translate(0);
  }
}
