.mask_footerpagetext .text,.mask_footerpagetext h1 {
  grid-column-end:span 12;
  grid-column-start:2;
}
[page-id="5"] main>div:first-child,[page-id="6"] main>div:first-child,[page-id="7"] main>div:first-child {
  margin-top:0;
  padding-top:45rem;
}
[page-id="5"] main h1,[page-id="5"] main h2,[page-id="5"] main h3,[page-id="5"] main ol,[page-id="5"] main p,[page-id="5"] main ul,[page-id="6"] main h1,[page-id="6"] main h2,[page-id="6"] main h3,[page-id="6"] main ol,[page-id="6"] main p,[page-id="6"] main ul,[page-id="7"] main h1,[page-id="7"] main h2,[page-id="7"] main h3,[page-id="7"] main ol,[page-id="7"] main p,[page-id="7"] main ul {
  font-family:karol-sans,sans-serif;
}
[page-id="5"] main h1,[page-id="6"] main h1,[page-id="7"] main h1 {
  font-size:4rem;
  letter-spacing:0;
  line-height:125%;
  text-transform:uppercase;
}
[page-id="5"] main h2,[page-id="6"] main h2,[page-id="7"] main h2 {
  font-size:3rem;
  letter-spacing:0;
  line-height:133%;
  margin:3rem 0 1.5rem;
}
[page-id="5"] main h3,[page-id="6"] main h3,[page-id="7"] main h3 {
  font-size:2rem;
  font-weight:700;
  letter-spacing:0;
  line-height:150%;
  margin:2rem 0;
}
[page-id="5"] main p,[page-id="6"] main p,[page-id="7"] main p {
  font-size:1.8rem;
  letter-spacing:0;
  line-height:156%;
  margin-bottom:1.5rem;
}
[page-id="5"] main ol,[page-id="5"] main ul,[page-id="6"] main ol,[page-id="6"] main ul,[page-id="7"] main ol,[page-id="7"] main ul {
  font-size:1.8rem;
  letter-spacing:0;
  line-height:156%;
  margin:0 0 1.5rem;
}
[page-id="5"] main ol li,[page-id="5"] main ul li,[page-id="6"] main ol li,[page-id="6"] main ul li,[page-id="7"] main ol li,[page-id="7"] main ul li {
  margin-bottom:1.5rem;
}
[page-id="5"] main ol+p,[page-id="5"] main ul+p,[page-id="6"] main ol+p,[page-id="6"] main ul+p,[page-id="7"] main ol+p,[page-id="7"] main ul+p {
  margin-top:0;
}
[page-id="5"] main a,[page-id="6"] main a,[page-id="7"] main a {
  -webkit-hyphens:auto;
  hyphens:auto;
  text-decoration:underline;
  word-break:break-all;
}
[page-id="5"] main a:hover,[page-id="6"] main a:hover,[page-id="7"] main a:hover {
  color:#211d1d;
}
[page-id="5"] main ul.abcList li:before,[page-id="6"] main ul.abcList li:before,[page-id="7"] main ul.abcList li:before {
  background:none;
}
[page-id="5"] main .mask_hanthainclude,[page-id="6"] main .mask_hanthainclude,[page-id="7"] main .mask_hanthainclude {
  padding-top:0;
}
[page-id="5"] main .mask_hanthainclude>.t3-ce-rte,[page-id="6"] main .mask_hanthainclude>.t3-ce-rte,[page-id="7"] main .mask_hanthainclude>.t3-ce-rte {
  grid-column-end:span 12;
  grid-column-start:2;
  text-align:left;
}
@media (max-width:1023px) {
  [page-id="5"] main>div:first-child,[page-id="6"] main>div:first-child,[page-id="7"] main>div:first-child {
    padding-top:25rem;
  }
  [page-id="5"] main h1,[page-id="6"] main h1,[page-id="7"] main h1 {
    font-size:3rem;
    letter-spacing:0;
    line-height:133%;
  }
  [page-id="5"] main h2,[page-id="6"] main h2,[page-id="7"] main h2 {
    font-size:2rem;
    letter-spacing:0;
    line-height:150%;
    margin:1rem 0;
  }
  [page-id="5"] main h3,[page-id="6"] main h3,[page-id="7"] main h3 {
    font-size:1.5rem;
    letter-spacing:0;
    line-height:167%;
  }
  [page-id="5"] main ol,[page-id="5"] main p,[page-id="5"] main ul,[page-id="6"] main ol,[page-id="6"] main p,[page-id="6"] main ul,[page-id="7"] main ol,[page-id="7"] main p,[page-id="7"] main ul {
    font-size:1.3rem;
    letter-spacing:0;
    line-height:177%;
  }
}
