.mask_powermailform .item-checkbox .item {
  grid-column-end:span 10;
  margin-top:5rem;
  position:relative;
}
.mask_powermailform .item-checkbox .col3 {
  grid-column-end:span 3;
}
.mask_powermailform .item-checkbox .col5 {
  grid-column-end:span 5;
}
.mask_powermailform .item-checkbox .col7 {
  grid-column-end:span 7;
}
.mask_powermailform .item-checkbox .col20 {
  grid-column-end:span 20;
}
.mask_powermailform .item-checkbox label {
  align-items:center;
  cursor:pointer;
  display:flex;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  transition:all .5s;
}
@media (max-width:1023px) {
  .mask_powermailform .item-checkbox label {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .item-checkbox label.checked .background,.mask_powermailform .item-checkbox label.checked .check {
  opacity:1;
}
.mask_powermailform .item-checkbox label.notChecked {
  color:#ea0000;
}
.mask_powermailform .item-checkbox label.notChecked svg .main {
  stroke:#ea0000;
}
.mask_powermailform .item-checkbox label:hover {
  opacity:.7;
}
.mask_powermailform .item-checkbox label span {
  margin-left:.5rem;
}
.mask_powermailform .item-checkbox input {
  opacity:0;
  pointer-events:none;
  position:absolute;
}
.mask_powermailform .item-checkbox label svg .check,.mask_powermailform .item-checkbox label svg .main {
  stroke:#211d1d;
}
.mask_powermailform .item-checkbox .background,.mask_powermailform .item-checkbox .check {
  opacity:0;
  transition:all .5s;
}
.mask_powermailform .item-checkbox .error {
  bottom:-.5rem;
  color:#ea0000;
  font-size:1.4rem;
  font-size:1.5rem;
  font-weight:300;
  left:0;
  letter-spacing:0;
  line-height:143%;
  line-height:120%;
  position:absolute;
  transform:translateY(100%);
  width:100%;
}
@media (max-width:1023px) {
  .mask_powermailform .item-checkbox .error {
    font-size:1rem;
    letter-spacing:0;
    line-height:120%;
  }
  .mask_powermailform .item-checkbox .item {
    grid-column-end:span 20;
    margin-top:3rem;
  }
  .mask_powermailform .item-checkbox .col3 {
    grid-column-end:span 3;
  }
  .mask_powermailform .item-checkbox .col5 {
    grid-column-end:span 5;
  }
  .mask_powermailform .item-checkbox .col7 {
    grid-column-end:span 7;
  }
  .mask_powermailform .item-checkbox .col20 {
    grid-column-end:span 20;
  }
  .mask_powermailform .item-checkbox input {
    padding:1.6rem 1.1rem;
  }
  .mask_powermailform .item-checkbox label span {
    margin-left:.7rem;
  }
}
@media (max-width:1023px) and (max-width:1023px) {
  .mask_powermailform .item-checkbox .col3,.mask_powermailform .item-checkbox .col5 {
    grid-column-end:span 10;
  }
  .mask_powermailform .item-checkbox .col7 {
    grid-column-end:span 20;
  }
}
