.mask_powermailform .item-kids .item {
  grid-column-end:span 5;
  margin-top:5rem;
}
.mask_powermailform .item-kids .item,.mask_powermailform .item-kids .kid-wrapper {
  position:relative;
}
.mask_powermailform .item-kids .col3 {
  grid-column-end:span 3;
}
.mask_powermailform .item-kids .col5 {
  grid-column-end:span 5;
}
.mask_powermailform .item-kids .col7 {
  grid-column-end:span 7;
}
.mask_powermailform .item-kids .col20 {
  grid-column-end:span 20;
}
.mask_powermailform .item-kids label {
  background:#fff;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  left:1rem;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  padding:0 1rem;
  position:absolute;
  top:2rem;
  transition:.3s;
}
@media (max-width:1023px) {
  .mask_powermailform .item-kids label {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .item-kids label.active,.mask_powermailform .item-kids label.hasContent {
  color:#211d1db3;
  top:0;
  transform:translateY(-70%);
}
.mask_powermailform .item-kids input {
  border:1px solid #211d1d;
  border-radius:3px;
  color:#211d1d;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  padding:2rem;
  text-align:center;
  transition:all .5s;
  width:100%;
}
@media (max-width:1023px) {
  .mask_powermailform .item-kids input {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .item-kids input.active {
  box-shadow:0 0 5px 1px #c7c7c7;
}
.mask_powermailform .item-kids .minus {
  align-items:center;
  cursor:pointer;
  display:flex;
  left:7rem;
  padding:1rem .4rem;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
.mask_powermailform .item-kids .minus svg {
  height:.2rem;
  width:2rem;
}
.mask_powermailform .item-kids .minus.disable {
  cursor:pointer;
  opacity:.3;
  pointer-events:none;
}
.mask_powermailform .item-kids .plus {
  align-items:center;
  cursor:pointer;
  display:flex;
  position:absolute;
  right:7rem;
  top:50%;
  transform:translateY(-50%);
}
.mask_powermailform .item-kids .plus svg {
  height:1.8rem;
  width:1.8rem;
}
.mask_powermailform .item-kids .plus.disable {
  cursor:pointer;
  opacity:.3;
  pointer-events:none;
}
.mask_powermailform .item-kids path {
  stroke:#211d1d;
}
.mask_powermailform .item-kids .error {
  bottom:-.5rem;
  color:#ea0000;
  font-size:1.4rem;
  font-size:1.5rem;
  font-weight:300;
  left:0;
  letter-spacing:0;
  line-height:143%;
  line-height:120%;
  position:absolute;
  text-align:right;
  transform:translateY(100%);
  width:100%;
}
@media (max-width:1023px) {
  .mask_powermailform .item-kids .error {
    font-size:1rem;
    letter-spacing:0;
    line-height:120%;
  }
  .mask_powermailform .item-kids .item {
    grid-column-end:span 10;
    margin-top:3rem;
  }
  .mask_powermailform .item-kids .col3 {
    grid-column-end:span 3;
  }
  .mask_powermailform .item-kids .col5 {
    grid-column-end:span 5;
  }
  .mask_powermailform .item-kids .col7 {
    grid-column-end:span 7;
  }
  .mask_powermailform .item-kids .col20 {
    grid-column-end:span 20;
  }
  .mask_powermailform .item-kids label {
    left:.6rem;
    padding:0 .5rem;
    top:50%;
    transform:translateY(-50%);
  }
  .mask_powermailform .item-kids input {
    padding:1.4rem 1rem;
  }
  .mask_powermailform .item-kids .minus {
    left:.9rem;
  }
  .mask_powermailform .item-kids .minus svg {
    height:2px;
    width:1.5rem;
  }
  .mask_powermailform .item-kids .plus {
    padding:1rem;
    right:.5rem;
  }
  .mask_powermailform .item-kids .plus svg {
    height:1.2rem;
    width:1.2rem;
  }
}
@media (max-width:1023px) and (max-width:1023px) {
  .mask_powermailform .item-kids .col3,.mask_powermailform .item-kids .col5 {
    grid-column-end:span 10;
  }
  .mask_powermailform .item-kids .col7 {
    grid-column-end:span 20;
  }
}
