.mask_powermailform .section {
  background-color:#fff;
  margin-bottom:2rem;
  padding:4.5rem 0;
}
.mask_powermailform .section .section {
  grid-column-end:span 12;
  grid-column-start:1;
}
.mask_powermailform .inner {
  display:grid;
  grid-column-end:span 10;
  grid-column-start:2;
  grid-template-columns:repeat(20,1fr);
  grid-column-gap:var(--grid-gap);
  align-items:flex-start;
}
.mask_powermailform .title {
  font-size:3rem;
  font-weight:500;
  grid-column-end:span 20;
  grid-column-start:1;
  letter-spacing:0;
  line-height:100%;
}
@media (max-width:1023px) {
  .mask_powermailform .title {
    font-size:1.9rem;
    letter-spacing:0;
    line-height:121%;
  }
}
.mask_powermailform .add-room {
  align-items:center;
  cursor:pointer;
  display:flex;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  grid-column-end:span 4;
  grid-column-start:1;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  margin-top:4rem;
  transition:all .5s;
}
@media (max-width:1023px) {
  .mask_powermailform .add-room {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .add-room svg {
  height:1.8rem;
  margin-right:1rem;
  transform:translateY(-.2rem);
  width:1.8rem;
}
.mask_powermailform .add-room svg path {
  stroke:#211d1d;
}
.mask_powermailform .add-room:hover {
  opacity:.7;
}
.mask_powermailform .remove-room {
  align-items:center;
  cursor:pointer;
  display:flex;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  grid-column-end:span 4;
  grid-column-start:1;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  margin-top:4rem;
  transition:all .5s;
}
@media (max-width:1023px) {
  .mask_powermailform .remove-room {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .remove-room svg {
  height:.2rem;
  margin-right:1rem;
  transform:translateY(-.2rem);
  width:2rem;
}
.mask_powermailform .remove-room svg path {
  stroke:#211d1d;
}
.mask_powermailform .remove-room:hover {
  opacity:.7;
}
.mask_powermailform .remove-room+.add-room {
  margin-top:1rem;
}
@media (max-width:1023px) {
  .mask_powermailform .section {
    padding:2rem 0;
  }
  .mask_powermailform .add-room {
    grid-column-end:span 12;
    margin-top:2rem;
  }
  .mask_powermailform .add-room svg {
    height:1.2rem;
    margin-right:.5rem;
    width:1.2rem;
  }
  .mask_powermailform .remove-room {
    grid-column-end:span 12;
    margin-top:2rem;
  }
  .mask_powermailform .remove-room svg {
    height:.1rem;
    margin-right:.5rem;
    width:1.5rem;
  }
}
