.mask_powermailform .item-radio .item {
  grid-column-end:span 5;
  margin-top:5rem;
  position:relative;
}
.mask_powermailform .item-radio .col3 {
  grid-column-end:span 3;
}
.mask_powermailform .item-radio .col5 {
  grid-column-end:span 5;
}
.mask_powermailform .item-radio .col7 {
  grid-column-end:span 7;
}
.mask_powermailform .item-radio .col20 {
  grid-column-end:span 20;
}
.mask_powermailform .item-radio .radio-options {
  border:1px solid #211d1d;
  border-radius:3px;
  display:inline-flex;
  justify-content:center;
  padding:.5rem;
}
.mask_powermailform .item-radio .radio-options.hasError {
  border-color:#ea0000;
}
.mask_powermailform .item-radio .label {
  cursor:pointer;
  font-size:2.4rem;
  font-size:2.2rem;
  font-weight:300;
  letter-spacing:.5em;
  letter-spacing:0;
  line-height:142%;
  line-height:100%;
  padding:1.5rem 2.5rem;
  position:relative;
  z-index:1;
}
@media (max-width:1023px) {
  .mask_powermailform .item-radio .label {
    font-size:1.7rem;
    font-size:1.3rem;
    letter-spacing:.5em;
    letter-spacing:0;
    line-height:159%;
    line-height:100%;
  }
}
.mask_powermailform .item-radio .group-label {
  background:#fff;
  color:#211d1db3;
  left:1rem;
  padding:0 1rem;
  transform:translateY(-70%);
}
.mask_powermailform .item-radio .group-label,.mask_powermailform .item-radio input {
  position:absolute;
  top:0;
}
.mask_powermailform .item-radio input {
  border:none;
  border-radius:1px;
  height:100%;
  left:0;
  transition:all .5s;
  width:100%;
}
.mask_powermailform .item-radio input:checked,.mask_powermailform .item-radio input:hover {
  background-color:#e4e0db;
}
.mask_powermailform .item-radio .option {
  cursor:pointer;
  display:flex;
  margin-right:1rem;
  position:relative;
}
.mask_powermailform .item-radio .option:last-of-type {
  margin-right:0;
}
.mask_powermailform .item-radio .error {
  bottom:-.5rem;
  color:#ea0000;
  font-size:1.4rem;
  font-size:1.5rem;
  font-weight:300;
  left:0;
  letter-spacing:0;
  line-height:143%;
  line-height:120%;
  position:absolute;
  text-align:right;
  transform:translateY(100%);
  width:100%;
}
@media (max-width:1023px) {
  .mask_powermailform .item-radio .error {
    font-size:1rem;
    letter-spacing:0;
    line-height:120%;
  }
  .mask_powermailform .item-radio .item {
    grid-column-end:span 20;
    margin-top:3rem;
  }
  .mask_powermailform .item-radio .col3 {
    grid-column-end:span 3;
  }
  .mask_powermailform .item-radio .col5 {
    grid-column-end:span 5;
  }
  .mask_powermailform .item-radio .col7 {
    grid-column-end:span 7;
  }
  .mask_powermailform .item-radio .col20 {
    grid-column-end:span 20;
  }
  .mask_powermailform .item-radio .group-label {
    left:.6rem;
    padding:0 .5rem;
  }
  .mask_powermailform .item-radio .option label {
    padding:1rem 1.2rem;
  }
  .mask_powermailform .item-radio .radio-options {
    display:inline-flex;
  }
  .mask_powermailform .item-radio .option {
    margin-right:.5rem;
  }
}
@media (max-width:1023px) and (max-width:1023px) {
  .mask_powermailform .item-radio .col3,.mask_powermailform .item-radio .col5,.mask_powermailform .item-radio .col7 {
    grid-column-end:span 20;
  }
}
