.mask_powermailform .item-submit .item {
  grid-column-end:span 10;
  margin-top:5rem;
  position:relative;
}
.mask_powermailform .item-submit .col3 {
  grid-column-end:span 3;
}
.mask_powermailform .item-submit .col5 {
  grid-column-end:span 5;
}
.mask_powermailform .item-submit .col7 {
  grid-column-end:span 7;
}
.mask_powermailform .item-submit .col20 {
  grid-column-end:span 20;
}
.mask_powermailform .item-submit button {
  background-color:transparent;
  border-color:#e4e0db;
  border-radius:3px;
  color:#211d1d;
  cursor:pointer;
  font-family:inherit;
  font-size:2rem;
  letter-spacing:.1em;
  line-height:125%;
  padding:2rem 4.5rem;
  position:relative;
  text-transform:uppercase;
  transition:all .5s;
}
.mask_powermailform .item-submit button:not(.animate):hover {
  background-color:#e4e0db;
}
.mask_powermailform .item-submit .animate {
  color:transparent;
  pointer-events:none;
}
.mask_powermailform .item-submit .animate:after {
  animation:spin-3a26c628 ease-in infinite forwards;
  animation-duration:2.5s;
  animation-fill-mode:forwards;
  animation-name:spin-3a26c628;
  border:2px solid #211d1d;
  border-left-color:transparent;
  border-radius:50%;
  height:2.5rem;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  transition-timing-function:ease-in-out;
  transition:opacity .3s;
}
.mask_powermailform .item-submit .animate.success:before,.mask_powermailform .item-submit .animate:after {
  content:"";
  position:absolute;
  width:2.5rem;
}
.mask_powermailform .item-submit .animate.success:before {
  animation:success-3a26c628 .15s ease-in forwards;
  border:4px solid #211d1d;
  border-right:0;
  border-top:0;
  height:1.2rem;
  left:52%;
  top:43%;
  transform:translate(-50%,-50%) rotate(0) scale(0);
}
.mask_powermailform .item-submit .animate.success:after {
  animation-play-state:paused;
  opacity:0;
}
.mask_powermailform .item-submit .animate.error {
  animation:vibrate-3a26c628 .5s ease-in forwards;
  border-color:#ea0000;
  position:relative;
}
.mask_powermailform .item-submit .animate.error:before {
  animation:error-3a26c628 .5s ease-in forwards;
  color:#fff;
  content:"!";
  font-size:3.6rem;
  font-weight:700;
  left:50%;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%,-50%) scale(0);
}
.mask_powermailform .item-submit .animate.error:after {
  animation-play-state:paused;
  opacity:0;
}
@keyframes spin-3a26c628 {
  .mask_powermailform .item-submit 0% {
    transform:translate(-50%,-50%) rotate(0) scale(1);
  }
  .mask_powermailform .item-submit 90% {
    transform:translate(-50%,-50%) rotate(3turn) scale(1);
  }
  .mask_powermailform .item-submit to {
    transform:scale(0);
  }
}
@keyframes success-3a26c628 {
  .mask_powermailform .item-submit 0% {
    transform:translate(-50%,-50%) rotate(0) scale(0);
  }
  .mask_powermailform .item-submit to {
    transform:translate(-50%,-50%) rotate(-45deg) scale(1);
  }
}
@keyframes error-3a26c628 {
  .mask_powermailform .item-submit 0% {
    transform:translate(-50%,-50%) scale(0);
  }
  .mask_powermailform .item-submit to {
    background-color:#ea0000;
    transform:translate(-50%,-50%) scale(1);
  }
}
@keyframes vibrate-3a26c628 {
  .mask_powermailform .item-submit 0%,.mask_powermailform .item-submit 30%,.mask_powermailform .item-submit 60%,.mask_powermailform .item-submit 85%,.mask_powermailform .item-submit to {
    background-color:#ea0000;
    left:0;
  }
  .mask_powermailform .item-submit 10%,.mask_powermailform .item-submit 40%,.mask_powermailform .item-submit 70%,.mask_powermailform .item-submit 90% {
    background-color:#ea0000;
    left:-5px;
  }
  .mask_powermailform .item-submit 20%,.mask_powermailform .item-submit 50%,.mask_powermailform .item-submit 80%,.mask_powermailform .item-submit 95% {
    background-color:#ea0000;
    left:5px;
  }
}
@media (max-width:1023px) {
  .mask_powermailform .item-submit .item {
    grid-column-end:span 20;
    margin-top:3rem;
  }
  .mask_powermailform .item-submit .col3 {
    grid-column-end:span 3;
  }
  .mask_powermailform .item-submit .col5 {
    grid-column-end:span 5;
  }
  .mask_powermailform .item-submit .col7 {
    grid-column-end:span 7;
  }
  .mask_powermailform .item-submit .col20 {
    grid-column-end:span 20;
  }
  .mask_powermailform .item-submit button {
    padding:1.3rem 2.5rem;
  }
}
@media (max-width:1023px) and (max-width:1023px) {
  .mask_powermailform .item-submit .col3,.mask_powermailform .item-submit .col5 {
    grid-column-end:span 10;
  }
  .mask_powermailform .item-submit .col7 {
    grid-column-end:span 20;
  }
}
