.mask_Gallery .grid-container>div:nth-child(8n+1) {
  grid-column-end:span 5;
  grid-column-start:1;
  margin-right:8rem;
  margin-top:12rem;
}
.mask_Gallery .grid-container>div:nth-child(8n+2) {
  grid-column-end:span 6;
  grid-column-start:8;
}
.mask_Gallery .grid-container>div:nth-child(8n+3) {
  grid-column-end:span 2;
  grid-column-start:11;
  margin-left:5rem;
  margin-right:5rem;
  margin-top:12rem;
}
.mask_Gallery .grid-container>div:nth-child(8n+4) {
  grid-column-end:span 3;
  grid-column-start:12;
  margin-left:8rem;
}
.mask_Gallery .grid-container>div:nth-child(8n+5) {
  grid-column-end:span 5;
  grid-column-start:2;
  margin-top:-26.5rem;
}
.mask_Gallery .grid-container>div:nth-child(8n+6) {
  align-self:flex-end;
  grid-column-end:span 2;
  grid-column-start:9;
}
.mask_Gallery .grid-container>div:nth-child(8n+7) {
  grid-column-end:span 4;
  grid-column-start:10;
  margin-top:15rem;
}
.mask_Gallery .grid-container>div:nth-child(8n+8) {
  grid-column-end:span 4;
  grid-column-start:1;
  margin-top:-15.5rem;
}
@media (max-width:1023px) {
  .mask_Gallery .grid-container>div:nth-child(8n+1) {
    grid-column-end:span 8;
    grid-column-start:2;
    margin-right:0;
    margin-top:0;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+2) {
    grid-column-end:span 9;
    grid-column-start:5;
    margin-top:2rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+3) {
    grid-column-end:span 4;
    grid-column-start:4;
    margin-left:0;
    margin-right:1.7rem;
    margin-top:6rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+4) {
    grid-column-end:span 6;
    grid-column-start:9;
    margin-left:1rem;
    margin-top:17rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+5) {
    grid-column-end:span 5;
    grid-column-start:2;
    margin-top:-13.5rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+6) {
    align-self:flex-start;
    grid-column-end:span 9;
    grid-column-start:2;
    margin-top:2rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+7) {
    grid-column-end:span 8;
    grid-column-start:6;
    margin-top:6rem;
  }
  .mask_Gallery .grid-container>div:nth-child(8n+8) {
    grid-column-end:span 5;
    grid-column-start:1;
    margin-bottom:6rem;
    margin-top:-5.8rem;
  }
}
