.mask_imgslider .swiper-container {
  grid-column-end:span 14;
  grid-column-start:1;
  position:relative;
}
.mask_imgslider .swiper-wrapper {
  height:60rem;
  margin-left:calc((-1*var(--grid-gap))/2);
  margin-right:calc((-1*var(--grid-gap))/2);
}
.mask_imgslider .swiper-slide {
  padding-right:calc(var(--grid-gap));
}
.mask_imgslider .swiper-slide:first-child {
  margin-left:0;
  padding-right:calc(var(--grid-gap));
}
.mask_imgslider .swiper-slide:last-child {
  padding-right:calc(var(--grid-gap));
}
.mask_imgslider img {
  height:100%;
  width:auto;
}
.mask_imgslider picture {
  height:100%;
  width:auto;
}
.mask_imgslider .hide {
  display:none;
}
.mask_imgslider .swiper-slide {
  flex-shrink:1;
  width:auto;
}
.mask_imgslider .navigation {
  align-self:flex-end;
  grid-column-end:span 2;
  grid-column-start:9;
  justify-self:center;
  margin-top:3rem;
  z-index:5;
}
.mask_imgslider .navigation .next,.mask_imgslider .navigation .prev {
  cursor:pointer;
  transition:all .5s;
  width:-moz-fit-content;
  width:fit-content;
}
.mask_imgslider .navigation .next svg,.mask_imgslider .navigation .prev svg {
  height:2.5rem;
  width:7rem;
}
.mask_imgslider .navigation .next:hover,.mask_imgslider .navigation .prev:hover {
  opacity:.4;
}
.mask_imgslider .navigation .prev {
  transform:rotate(180deg);
}
@media (max-width:1023px) {
  .mask_imgslider .swiper-wrapper {
    height:30rem;
    margin-left:calc((var(--grid-gap))/2.22);
    margin-right:0;
  }
  .mask_imgslider img {
    height:100%;
    max-width:100vw;
    width:auto;
  }
  .mask_imgslider picture {
    height:100%;
    max-width:100vw;
    width:auto;
  }
}
