.mask_maps .google-map {
  width:100%;
}
.mask_maps .image {
  grid-column-start:2;
}
.mask_maps .t3-ce-rte {
  text-align:left;
}
@media (min-width:1024px) {
  .mask_maps .google-map {
    height:45vw;
  }
  .mask_maps .image {
    border:1px solid #e4e0db;
    grid-column-end:span 12;
  }
}
@media (max-width:1023px) {
  .mask_maps .google-map {
    height:45rem;
  }
  .mask_maps .links {
    margin-top:3rem;
  }
  .mask_maps .image {
    grid-column-end:span 14;
    grid-column-start:1;
    margin-bottom:3rem;
  }
  .mask_maps .content {
    grid-column-end:span 12;
    grid-column-start:2;
  }
}
