.mask_roomdetail .room-image-left {
  grid-column-end:span 6;
  grid-column-start:2;
}
.mask_roomdetail .navigation {
  grid-column-end:span 2;
  grid-column-start:9;
  justify-self:flex-start;
  margin-top:12rem;
  z-index:5;
}
.mask_roomdetail .navigation .next,.mask_roomdetail .navigation .prev {
  cursor:pointer;
  transition:all .5s;
  width:-moz-fit-content;
  width:fit-content;
}
.mask_roomdetail .navigation .next svg,.mask_roomdetail .navigation .prev svg {
  height:2.5rem;
  width:7rem;
}
.mask_roomdetail .navigation .next:hover,.mask_roomdetail .navigation .prev:hover {
  opacity:.4;
}
.mask_roomdetail .navigation .prev {
  transform:rotate(180deg);
}
.mask_roomdetail .room-image-right {
  grid-column-end:span 2;
  grid-column-start:12;
  margin-top:12rem;
}
.mask_roomdetail .room-content {
  grid-column-end:span 4;
  grid-column-start:9;
  margin-top:-6rem;
}
.mask_roomdetail .room-icons {
  display:flex;
  margin-left:0;
  margin-top:6rem;
}
.mask_roomdetail .room-icons picture {
  margin-right:4.5rem;
}
.mask_roomdetail .room-icons picture:last-child {
  margin-right:0;
}
.mask_roomdetail .room-icons img {
  height:9rem;
  width:9rem;
}
.mask_roomdetail .room-info {
  flex-wrap:wrap;
  font-size:2rem;
  font-weight:300;
  grid-column-end:span 5;
  grid-column-start:3;
  letter-spacing:.08em;
  line-height:125%;
  margin-top:6rem;
  text-align:left;
  text-transform:uppercase;
}
@media (max-width:1023px) {
  .mask_roomdetail .room-info {
    font-size:1.3rem;
    letter-spacing:.05em;
    line-height:131%;
  }
}
.mask_roomdetail .room-info .room-info-spacer {
  background-color:#211d1d;
  display:inline-block;
  height:2px;
  height:1px;
  margin:0 1rem;
  margin:0 .5rem;
  width:3rem;
}
.mask_roomdetail .room-info .room-info-spacer:nth-last-child(2) {
  display:none;
}
.mask_roomdetail .room-description {
  margin-left:9rem;
  margin-top:3rem;
}
@media (max-width:1023px) {
  .mask_roomdetail .navigation {
    grid-column-end:span 3;
    grid-column-start:11;
    margin-top:4rem;
  }
  .mask_roomdetail .room-info {
    grid-column-end:span 12;
    grid-column-start:2;
    grid-row-start:2;
  }
  .mask_roomdetail .room-image-left {
    grid-column-end:span 9;
    grid-column-start:2;
  }
  .mask_roomdetail .room-image-right {
    grid-column-end:span 5;
    grid-column-start:9;
    margin-top:4.5rem;
  }
  .mask_roomdetail .room-content {
    grid-column-end:span 12;
    grid-column-start:2;
    margin-top:0;
  }
  .mask_roomdetail .room-icons {
    display:flex;
    margin-bottom:.5rem;
    margin-left:5.8rem;
    margin-top:3rem;
  }
  .mask_roomdetail .room-icons picture {
    margin-right:1.5rem;
  }
  .mask_roomdetail .room-icons picture:last-child {
    margin-right:0;
  }
  .mask_roomdetail .room-icons img {
    height:6rem;
    width:6rem;
  }
  .mask_roomdetail .room-info {
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-top:2rem;
    text-align:left;
  }
  .mask_roomdetail .room-description {
    margin-left:5.8rem;
    margin-top:1.5rem;
  }
}
