.mask_teaserslider .swiper {
  width:100%;
}
.mask_teaserslider .teaser-wrapper {
  grid-column-end:span 12;
  grid-column-start:2;
  grid-template-rows:auto 1fr;
}
.mask_teaserslider .image-left {
  grid-column-end:span 2;
  grid-row-end:span 1;
  margin-top:12rem;
}
.mask_teaserslider .image-left,.mask_teaserslider .teaser-content {
  grid-column-start:1;
  grid-row-start:1;
}
.mask_teaserslider .teaser-content {
  grid-column-end:span 12;
  grid-row-end:span 3;
  text-transform:uppercase;
}
.mask_teaserslider .teaser-content .swiper-slide {
  display:grid;
  grid-template-rows:1fr 1fr;
}
.mask_teaserslider .teaser-content .swiper-slide .teaser-content-inner {
  grid-row-end:span 1;
  grid-row-start:2;
  padding-right:55%;
  padding-top:4.5rem;
}
.mask_teaserslider .teaser-content .swiper-slide:not(.swiper-slide-active) {
  opacity:0!important;
}
.mask_teaserslider .teaser-content h2 {
  margin-bottom:2rem;
}
.mask_teaserslider .image-right {
  grid-column-end:span 6;
  grid-column-start:7;
  grid-row-end:span 2;
  grid-row-start:1;
}
.mask_teaserslider .infotext {
  font-size:2rem;
  font-weight:300;
  grid-column-end:span 6;
  letter-spacing:.08em;
  line-height:125%;
  text-transform:uppercase;
}
@media (max-width:1023px) {
  .mask_teaserslider .infotext {
    font-size:1.3rem;
    letter-spacing:.05em;
    line-height:131%;
  }
}
.mask_teaserslider img {
  width:100%;
}
.mask_teaserslider .infotext {
  grid-column-end:span 4;
  grid-column-start:7;
}
.mask_teaserslider .infotext,.mask_teaserslider .navigation {
  grid-row-start:3;
  margin-top:1.5rem;
}
.mask_teaserslider .navigation {
  align-self:flex-end;
  display:flex;
  font-size:2rem;
  font-weight:300;
  grid-column-end:span 1;
  grid-column-start:12;
  justify-content:flex-end;
  letter-spacing:.08em;
  line-height:125%;
  text-transform:uppercase;
  z-index:15;
}
@media (max-width:1023px) {
  .mask_teaserslider .navigation {
    font-size:1.3rem;
    letter-spacing:.05em;
    line-height:131%;
  }
}
.mask_teaserslider .navigation>div:not(.spacer):hover {
  opacity:.4;
}
.mask_teaserslider .navigation span {
  pointer-events:none;
}
.mask_teaserslider .navigation svg {
  display:none;
}
.mask_teaserslider .navigation .spacer {
  margin:0 .8rem;
}
.mask_teaserslider .navigation .swiper-button-disabled {
  opacity:.5;
}
.mask_teaserslider .navigation .next,.mask_teaserslider .navigation .prev {
  cursor:pointer;
  transition:all .5s;
}
@media (max-width:1023px) {
  .mask_teaserslider .teaser-wrapper {
    grid-template-rows:auto auto auto;
  }
  .mask_teaserslider .image-left {
    grid-column-end:span 5;
    grid-column-start:3;
    grid-row-start:1;
    margin-bottom:2rem;
    margin-top:0;
  }
  .mask_teaserslider .teaser-content {
    grid-column-end:span 12;
    grid-column-start:1;
    grid-row-end:span 4;
  }
  .mask_teaserslider .teaser-content h2 {
    font-size:3.5rem;
    letter-spacing:.05em;
    line-height:114%;
  }
  .mask_teaserslider .teaser-content .swiper-slide {
    display:grid;
    grid-template-rows:auto;
    grid-column-gap:var(--grid-gap);
    grid-template-columns:repeat(12,1fr);
  }
  .mask_teaserslider .teaser-content .swiper-slide .teaser-content-inner {
    grid-column-end:span 10;
    grid-column-start:3;
    grid-row-end:span 1;
    grid-row-start:1;
    padding-right:0;
    padding-top:192%;
  }
  .mask_teaserslider .image-right {
    grid-row-end:span 1;
    grid-row-start:2;
  }
  .mask_teaserslider .image-right,.mask_teaserslider .infotext {
    grid-column-end:span 9;
    grid-column-start:4;
  }
  .mask_teaserslider .infotext {
    grid-row-start:3;
    margin-top:.5rem;
    text-align:right;
  }
  .mask_teaserslider img {
    width:100%;
  }
  .mask_teaserslider .navigation {
    align-self:flex-start;
    display:block;
    grid-column-end:span 2;
    grid-column-start:1;
    grid-row-end:span 2;
    grid-row-start:1;
    justify-self:center;
    margin-top:810%;
    z-index:5;
  }
  .mask_teaserslider .navigation .spacer,.mask_teaserslider .navigation span {
    display:none;
  }
  .mask_teaserslider .navigation svg {
    display:inline;
  }
  .mask_teaserslider .navigation .prev {
    margin-bottom:1rem;
  }
  .mask_teaserslider .navigation .next,.mask_teaserslider .navigation .prev {
    cursor:pointer;
    transition:all .5s;
    width:-moz-fit-content;
    width:fit-content;
  }
  .mask_teaserslider .navigation .next svg,.mask_teaserslider .navigation .prev svg {
    height:1.7rem;
    width:4.5rem;
  }
  .mask_teaserslider .navigation .next:hover,.mask_teaserslider .navigation .prev:hover {
    opacity:.4;
  }
  .mask_teaserslider .navigation .prev {
    transform:rotate(180deg);
  }
}
