.mask_imgtext .image-left {
  grid-column-end:span 4;
  grid-column-start:1;
  grid-row-end:span 2;
  grid-row-start:2;
  margin-top:-22.5rem;
}
.mask_imgtext .image-right {
  grid-column-start:10;
  margin-bottom:7.5rem;
}
.mask_imgtext .content,.mask_imgtext .image-right {
  grid-column-end:span 4;
}
.mask_imgtext .content {
  grid-column-start:6;
}
.mask_imgtext .title {
  margin-bottom:3rem;
}
.mask_imgtext .text {
  margin-left:9rem;
}
.mask_imgtext .linkdetail {
  margin-top:4.5rem;
}
.mask_imgtext img {
  height:auto;
  width:100%;
}
@media (max-width:1023px) {
  .mask_imgtext .image-left {
    grid-column-end:span 5;
    grid-column-start:1;
    margin-top:-5.5rem;
  }
  .mask_imgtext .image-right {
    grid-column-end:span 8;
    grid-column-start:6;
    margin-bottom:0;
  }
  .mask_imgtext .content {
    grid-column-end:span 11;
    grid-column-start:2;
    margin-top:4.5rem;
  }
  .mask_imgtext .title {
    margin-bottom:1.5rem;
  }
  .mask_imgtext .text {
    margin-left:5.8rem;
  }
  .mask_imgtext .linkdetail {
    margin-top:4.5rem;
  }
  .mask_imgtext img {
    height:auto;
    width:100%;
  }
}
