.mask_partnermarquee .grid-container {
  background-color:#e4e0db;
  padding-bottom:21rem;
  padding-top:21rem;
}
.mask_partnermarquee .swiper-container {
  display:none;
  grid-column-end:span 14;
  grid-column-start:1;
  position:relative;
}
.mask_partnermarquee .swiper-wrapper {
  margin-right:calc(var(--grid-gap)*-1);
}
.mask_partnermarquee .swiper-slide {
  padding-right:calc(var(--grid-gap));
}
.mask_partnermarquee .swiper-slide:first-child {
  margin-left:0;
  padding-right:calc(var(--grid-gap));
}
.mask_partnermarquee .swiper-slide:last-child {
  padding-right:calc(var(--grid-gap));
}
.mask_partnermarquee .hide {
  display:none;
}
@media (max-width:1023px) {
  .mask_partnermarquee .swiper-wrapper {
    margin-left:calc((var(--grid-gap))/2.22);
    margin-right:0;
  }
}
.mask_partnermarquee .content {
  grid-column-end:span 7;
  grid-column-start:6;
}
.mask_partnermarquee .title {
  margin-bottom:3rem;
}
.mask_partnermarquee .text {
  margin-left:9rem;
}
.mask_partnermarquee .marquee-wrapper {
  display:flex;
  grid-column-end:span 14;
  grid-column-start:1;
  justify-content:space-between;
  margin-top:12rem;
  overflow:hidden;
  width:100vw;
}
.mask_partnermarquee .marquee-inner {
  display:flex;
  justify-content:space-evenly;
}
.mask_partnermarquee .marquee-item {
  margin-right:calc(var(--grid-gap)*5);
  max-height:35rem;
  max-width:35rem;
  mix-blend-mode:multiply;
}
.mask_partnermarquee .marquee-item img {
  height:100%;
  width:auto;
}
.mask_partnermarquee .marquee-item picture {
  align-items:center;
  display:flex;
  height:100%;
  justify-content:center;
}
.mask_partnermarquee .marquee-teaser {
  overflow:hidden;
  position:relative;
}
@media (max-width:1023px) {
  .mask_partnermarquee .grid-container {
    padding-bottom:9rem;
    padding-top:9rem;
  }
  .mask_partnermarquee .content {
    grid-column-end:span 11;
    grid-column-start:2;
  }
  .mask_partnermarquee .title {
    margin-bottom:1.5rem;
  }
  .mask_partnermarquee .text {
    margin-left:5.8rem;
  }
  .mask_partnermarquee .marquee-wrapper {
    margin-top:3rem;
  }
  .mask_partnermarquee .marquee-inner {
    display:flex;
    justify-content:space-evenly;
  }
  .mask_partnermarquee .marquee-item {
    margin-right:calc(var(--grid-gap)*3);
    max-height:10rem;
    max-width:20rem;
    mix-blend-mode:multiply;
  }
  .mask_partnermarquee .marquee-teaser {
    overflow:hidden;
    position:relative;
  }
}
