.mask_quote .image {
  grid-column-end:span 2;
  grid-column-start:2;
}
.mask_quote .quote-wrapper {
  grid-column-end:span 6;
  grid-column-start:6;
  margin-top:19.5rem;
  transform:translate(9rem);
}
.mask_quote .quote-wrapper .quote {
  font-size:7rem;
  font-weight:300;
  letter-spacing:.04em;
  line-height:97%;
}
@media (max-width:1023px) {
  .mask_quote .quote-wrapper .quote {
    font-size:3.7rem;
    letter-spacing:.04em;
    line-height:119%;
  }
}
.mask_quote .quote-wrapper .autor {
  font-size:2rem;
  font-weight:400;
  letter-spacing:.08em;
  line-height:125%;
  margin-top:2rem;
  text-transform:uppercase;
}
@media (max-width:1023px) {
  .mask_quote .quote-wrapper .autor {
    font-size:1.7rem;
    letter-spacing:.08em;
    line-height:94%;
  }
}
.mask_quote img {
  height:auto;
  width:100%;
}
@media (max-width:1023px) {
  .mask_quote .image {
    grid-column-end:span 5;
    grid-column-start:4;
  }
  .mask_quote .quote-wrapper {
    grid-column-end:span 12;
    grid-column-start:2;
    margin-top:4.5rem;
    transform:translate(0);
  }
  .mask_quote .quote-wrapper .autor {
    margin-left:5.8rem;
    margin-top:2rem;
  }
}
