.mask_roomslider .grid-container-inner {
  grid-column-end:span 12;
  grid-column-start:2;
}
.mask_roomslider .swiper,.mask_roomslider img {
  width:100%;
}
.mask_roomslider img {
  height:100%;
}
.mask_roomdetail {
  padding-top:0;
}
.mask_roomslider .room-image-left {
  grid-column-end:span 6;
  grid-column-start:1;
  grid-row-start:1;
}
.mask_roomslider .room-image-right {
  align-self:flex-end;
  grid-column-end:span 2;
  grid-column-start:11;
  grid-row-start:1;
  pointer-events:none;
  z-index:-1;
}
.mask_roomslider .room-content {
  grid-column-end:span 12;
  grid-column-start:1;
  grid-row-start:1;
}
.mask_roomslider .room-content .swiper-slide:not(.swiper-slide-active) {
  opacity:0!important;
}
.mask_roomslider .room-content h2 {
  font-size:6.7rem;
  font-weight:300;
  grid-column-end:span 3;
  grid-column-start:8;
  letter-spacing:0;
  line-height:88%;
  padding-top:12rem;
  text-transform:uppercase;
}
@media (max-width:1023px) {
  .mask_roomslider .room-content h2 {
    font-size:3.5rem;
    letter-spacing:.05em;
    line-height:114%;
  }
}
.mask_roomslider .room-content .room-button,.mask_roomslider .room-content .room-info {
  grid-column-end:span 3;
  grid-column-start:8;
}
.mask_roomslider .room-icons {
  display:flex;
  margin-bottom:6rem;
  margin-left:9rem;
}
.mask_roomslider .room-icons picture {
  margin-right:4.5rem;
}
.mask_roomslider .room-icons picture:last-child {
  margin-right:0;
}
.mask_roomslider .room-button {
  margin-top:9rem;
}
.mask_roomslider .room-info {
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  font-size:2rem;
  font-weight:300;
  letter-spacing:.05em;
  line-height:150%;
  margin-top:4rem;
}
@media (max-width:1023px) {
  .mask_roomslider .room-info {
    font-size:1.3rem;
    letter-spacing:.05em;
    line-height:131%;
  }
}
.mask_roomslider .room-info .room-info-price {
  width:100%;
}
.mask_roomslider .room-info .room-info-spacer {
  background-color:#211d1d;
  display:inline-block;
  height:2px;
  margin:0 1rem;
  width:3rem;
}
.mask_roomslider .room-description {
  margin-left:9rem;
  margin-top:3rem;
}
.mask_roomslider .navigation {
  align-self:flex-end;
  grid-column-end:span 2;
  grid-column-start:8;
  grid-row-start:1;
  z-index:5;
}
.mask_roomslider .navigation .next,.mask_roomslider .navigation .prev {
  cursor:pointer;
  transition:all .5s;
  width:-moz-fit-content;
  width:fit-content;
}
.mask_roomslider .navigation .next svg,.mask_roomslider .navigation .prev svg {
  height:2.5rem;
  width:7rem;
}
.mask_roomslider .navigation .next:hover,.mask_roomslider .navigation .prev:hover {
  opacity:.4;
}
.mask_roomslider .navigation .prev {
  transform:rotate(180deg);
}
@media (max-width:1023px) {
  .mask_roomslider>.grid-container-inner {
    grid-template-rows:auto auto auto;
  }
  .mask_roomdetail {
    padding-top:0;
  }
  .mask_roomslider .room-image-left {
    grid-column-end:span 9;
    grid-column-start:1;
    grid-row-start:2;
  }
  .mask_roomslider .room-image-right {
    align-self:flex-start;
    grid-column-end:span 5;
    grid-column-start:7;
    grid-row-start:1;
    margin-bottom:2rem;
  }
  .mask_roomslider .room-content {
    grid-column-end:span 12;
    grid-column-start:1;
    grid-row-end:span 3;
    grid-row-start:1;
  }
  .mask_roomslider .room-content .swiper-wrapper {
    padding-top:147%;
  }
  .mask_roomslider .room-content h2 {
    padding-top:2rem;
  }
  .mask_roomslider .room-content .room-button,.mask_roomslider .room-content .room-info,.mask_roomslider .room-content h2 {
    grid-column-end:span 10;
    grid-column-start:3;
  }
  .mask_roomslider .room-button {
    margin-top:3rem;
  }
  .mask_roomslider .room-info {
    font-size:2rem;
    font-weight:300;
    letter-spacing:.05em;
    line-height:150%;
    margin-top:2rem;
  }
  .mask_roomslider .room-info .room-info-spacer {
    height:1px;
    width:2rem;
  }
  .mask_roomslider .navigation {
    align-self:flex-start;
    grid-column-end:span 2;
    grid-column-start:11;
    grid-row-end:span 3;
    grid-row-start:1;
    justify-self:center;
    margin-top:810%;
    z-index:5;
  }
  .mask_roomslider .navigation .next svg,.mask_roomslider .navigation .prev svg {
    height:1.7rem;
    width:4.5rem;
  }
}
@media (max-width:1023px) and (max-width:1023px) {
  .mask_roomslider .room-info {
    font-size:1.3rem;
    letter-spacing:.05em;
    line-height:131%;
  }
}
