@media (min-width:1024px) {
  body.scrolled .upper:not(.menu-open) {
    background-color:#e4e0db!important;
    padding-bottom:2rem;
    padding-top:4rem;
  }
  body.scrolled .logo-wrapper .logo {
    pointer-events:none;
  }
}
header {
  left:0;
  position:relative;
  top:0;
  transition:all .5s;
  z-index:55;
}
header,header>div {
  width:100%;
}
header .upper,header.header-menu-open {
  z-index:100;
}
header .upper {
  padding-top:12.5rem;
  position:fixed;
  transition:padding .5s ease,background-color .5s ease;
}
header a {
  color:#211d1d;
  text-decoration:none;
}
header .menu-button {
  z-index:120;
}
header .button-wrapper {
  align-items:center;
  display:flex;
  grid-column-end:span 4;
  grid-column-start:10;
  justify-content:flex-end;
  pointer-events:auto;
}
header .button-wrapper a:last-child {
  margin-left:3rem;
}
header .menu-wrapper {
  align-items:center;
  display:flex;
  grid-column-end:span 4;
  grid-column-start:2;
  justify-content:flex-start;
}
header .menu-wrapper a {
  pointer-events:auto;
}
header .menu-wrapper svg {
  height:2.9rem;
  width:5.5rem;
}
header .menu-bg {
  background-color:#211d1db3;
  height:100%;
  left:0;
  opacity:0;
  padding:2rem;
  pointer-events:auto;
  position:fixed;
  top:0;
  visibility:hidden;
  width:100%;
}
header .menu-outline {
  bottom:2rem;
  left:2rem;
  overflow:hidden;
  pointer-events:none;
  position:fixed;
  right:2rem;
  top:2rem;
}
header .main-nav-wrapper {
  height:100%;
  overflow:auto;
}
header .nav-main {
  min-height:calc(100% - 4.5rem);
}
header .nav-main:not(:hover).fadeOut .level-0 a {
  opacity:.6;
}
header .nav-main:not(:hover).fadeOut .level-0 a.router-link-active {
  opacity:1;
}
header .nav-main:hover .level-0 a {
  opacity:.6;
}
header .nav-main:hover .level-0:hover a {
  opacity:1;
}
header .menu {
  background-color:#e4e0db;
  bottom:0;
  height:100%;
  left:0;
  overflow:hidden;
  padding:27rem 6rem 6rem;
  pointer-events:auto;
  top:0;
  transform:translateY(-101%);
  width:54.2rem;
  will-change:transform;
  z-index:50;
}
header .menu>div {
  width:100%;
}
header .menu .nav-main a {
  font-size:2rem;
  font-weight:400;
  letter-spacing:.05em;
  line-height:140%;
  text-transform:uppercase;
}
@media (max-width:1023px) {
  header .menu .nav-main a {
    font-size:3.1rem;
    letter-spacing:.05em;
    line-height:100%;
  }
}
header .logo-wrapper {
  padding-top:12.5rem;
  pointer-events:none;
  position:fixed;
}
header .logo {
  align-items:center;
  display:flex;
  grid-column-end:span 4;
  grid-column-start:5;
  justify-content:center;
  pointer-events:auto;
}
header .logo a {
  opacity:1;
}
header .logo svg {
  height:auto;
  margin-bottom:0;
  width:56.7rem;
}
header .lang {
  align-items:flex-end;
  display:flex;
  grid-column-end:span 3;
  justify-content:flex-end;
  text-transform:uppercase;
}
header .lang a.router-link-active span {
  opacity:.5;
}
header .lang svg {
  height:.9rem;
  margin:1rem;
  width:.9rem;
}
header .sub-link {
  align-items:center;
  display:inline-flex;
}
header .sub-link svg {
  height:.7rem;
  margin-bottom:.3rem;
  margin-left:.8rem;
  min-height:.7rem;
  min-width:1.3rem;
  pointer-events:none;
  transition:all .5s;
  width:1.3rem;
}
header .level-0.open .sub-link svg {
  transform:rotate(180deg);
}
header .link-0 {
  cursor:pointer;
}
header .sub {
  max-height:0;
  overflow:hidden;
}
header .sub>div {
  padding:0 0 2rem 2rem;
}
header .nav-info {
  display:flex;
  position:absolute;
  right:6rem;
  top:10.5rem;
}
header .nav-info>div {
  margin-right:2.8rem;
  transition:all .5s;
}
header .nav-info>div:last-child {
  margin-right:0;
}
header .nav-info>div:hover {
  opacity:.5;
}
header .nav-info a,header .nav-info svg {
  display:block;
}
header .nav-info svg {
  color:transparent;
  height:2.9rem;
  min-width:2rem;
  vertical-align:top;
  width:auto;
}
header .nav-lang a {
  display:block;
  font-size:1.3rem;
  font-size:1.5rem;
  font-weight:300;
  letter-spacing:.05em;
  line-height:131%;
  text-decoration:none;
  text-transform:uppercase;
  width:-moz-fit-content;
  width:fit-content;
}
header .nav-lang a:hover {
  opacity:.5;
}
header .nav-lang a:first-child {
  margin-bottom:.5rem;
}
header .nav-lang a.router-link-active {
  opacity:.5;
  pointer-events:none;
  text-decoration:none;
}
@media (max-width:1023px) {
  body.scrolled .logo-wrapper .logo {
    pointer-events:none;
  }
  header {
    padding:0;
  }
  header .upper {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='51' fill='none'%3E%3Cpath fill='%23E4E0DB' d='M85.957 0h276.648c.997 11.025-.235 35.217 0 50.668-2.229.36-.645.125-.997.167-1.936.375-19.8-.019-22.263.065h-2.901l-109.05-2.692-174.922 2.46-58.974-.984-4.32-33.56L-12 0z'/%3E%3C/svg%3E");
    background-position:100% 100%;
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom:1.6rem;
    padding-top:1.6rem;
  }
  header a {
    color:#211d1d;
    text-decoration:none;
  }
  header .menu-button {
    display:flex;
    justify-content:flex-end;
  }
  header .button-wrapper {
    display:block!important;
    grid-column-end:span 7;
    grid-column-start:2;
    grid-row-start:1;
    justify-content:flex-start;
    z-index:5;
  }
  header .menu-wrapper {
    grid-column-start:10;
    grid-row-start:1;
    justify-content:flex-end;
  }
  header .menu-wrapper a {
    width:100%;
  }
  header .menu-wrapper svg {
    height:1.8rem;
    width:3.5rem;
  }
  header .menu-bg {
    opacity:0;
    visibility:hidden;
  }
  header .menu-outline {
    bottom:0;
    left:0;
    right:0;
    top:0;
  }
  header .main-nav-wrapper {
    height:100%;
    overflow:auto;
  }
  header .nav-main {
    max-height:calc(100% - 15rem);
    min-height:unset;
    overflow:auto;
  }
  header .menu {
    bottom:0;
    left:0;
    padding:15rem 1rem 1.5rem 6.8rem;
    top:0;
    width:100%;
  }
  header .menu .level-0 {
    margin:1rem 0;
  }
  header .menu .sub>div {
    padding:1rem 2rem 2rem;
  }
  header .menu .sub .level-1 {
    margin:1rem 0;
  }
  header .menu .nav-main a {
    font-weight:300;
  }
  header .logo-wrapper {
    padding-top:9rem;
  }
  header .logo {
    grid-column-end:span 6;
    grid-column-start:4;
    justify-self:center;
    width:16.5rem;
  }
  header .logo a {
    opacity:1;
  }
  header .logo svg {
    height:auto;
    margin-bottom:0;
    width:100%;
  }
  header .nav-info {
    bottom:7.5rem;
    left:50%;
    position:absolute;
    right:auto;
    top:auto;
    transform:translate(-50%);
  }
  header .nav-info>div {
    margin-right:3.5rem;
  }
  header .nav-info>div:last-child {
    margin-right:0;
  }
  header .nav-info svg {
    height:3rem;
    min-width:2.1rem;
  }
  header div.mobile-hr {
    background-color:#211d1d;
    bottom:5rem;
    height:1px;
    left:1rem;
    position:absolute;
    width:calc(100% - 2rem);
  }
  header .nav-lang {
    bottom:1rem;
    display:flex;
    position:absolute;
    right:1rem;
  }
  header .nav-lang a:first-child {
    margin-right:1rem;
  }
}
