picture.picture {
  display:block;
  position:relative;
}
picture.picture > .overlay {
  background-color:#211d1d;
  height:100%;
  left:0;
  pointer-events:none;
  position:absolute;
  top:0;
  width:100%;
  z-index:5;
}
picture.picture > img {
  aspect-ratio:var(--ar-d);
  height:auto;
  width:100%;
}
@media (max-width:1023px) {
  picture.picture > img {
    aspect-ratio:var(--ar-m);
  }
}
